KDTree/.vs/KDTree/v15/.suo
KDTree/.vs/KDTree/v15/Browse.VC.opendb
KDTree/.vs/KDTree/v15/Browse.VC.db
KDTree/.vs/KDTree/v15/ipch/AutoPCH/d69fb40de93f41c4/MAIN.ipch
KDTree/Debug/KDTree.pdb
KDTree/Debug/KDTree.ilk
KDTree/Debug/KDTree.exe
KDTree/KDTree/Debug/vc141.pdb
KDTree/KDTree/Debug/vc141.idb
KDTree/KDTree/Debug/KDTree.tlog/CL.write.1.tlog
KDTree/KDTree/Debug/KDTree.tlog/CL.read.1.tlog
KDTree/KDTree/Debug/main.obj
KDTree/KDTree/Debug/PointValidation.obj
KDTree/KDTree/Debug/Point.obj
KDTree/KDTree/Debug/Parser.obj
KDTree/KDTree/Debug/KDTree.tlog/CL.command.1.tlog
KDTree/KDTree/Debug/KDTree.log
KDTree/KDTree/Debug/KDTree.tlog/link.read.1.tlog
KDTree/KDTree/Debug/KDTree.tlog/link.command.1.tlog
KDTree/KDTree/Debug/KDTree.tlog/KDTree.lastbuildstate
KDTree/KDTree/Debug/KDTree.tlog/link.write.1.tlog
