KDTree/.vs/KDTree/v15/.suo
KDTree/.vs/KDTree/v15/Browse.VC.opendb
KDTree/.vs/KDTree/v15/Browse.VC.db
KDTree/.vs/KDTree/v15/ipch/AutoPCH/d69fb40de93f41c4/MAIN.ipch
KDTree/Debug/KDTree.pdb
KDTree/Debug/KDTree.ilk
KDTree/Debug/KDTree.exe
KDTree/KDTree/Debug/vc141.pdb
KDTree/KDTree/Debug/vc141.idb
KDTree/KDTree/Debug/KDTree.tlog/CL.write.1.tlog
KDTree/KDTree/Debug/KDTree.tlog/CL.read.1.tlog
KDTree/KDTree/Debug/main.obj
KDTree/KDTree/Debug/PointValidation.obj
KDTree/KDTree/Debug/Point.obj
KDTree/KDTree/Debug/Parser.obj
KDTree/KDTree/Debug/KDTree.tlog/CL.command.1.tlog
KDTree/KDTree/Debug/KDTree.log
KDTree/KDTree/Debug/KDTree.tlog/link.read.1.tlog
KDTree/KDTree/Debug/KDTree.tlog/link.command.1.tlog
KDTree/KDTree/Debug/KDTree.tlog/KDTree.lastbuildstate
KDTree/KDTree/Debug/KDTree.tlog/link.write.1.tlog
KDTree/.vs/KDTree/v15/ipch/AutoPCH/ef6d5b9ecf173f0e/KDLEAF.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/e364af5f14fdcc0/PARSER.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/dffeea13299a4844/KDBOUNDS.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/db5fc7f924da44cc/GLOBALDATA.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/d03e2c0eff73d246/KDTREE.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/b78f47dadb4855b3/KDLEAF.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/710c9d68523b2092/COMPUTE.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/6420b9a9ae8cacab/KDTREE.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/5b950b69db438493/POINT.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/52bb98e58d4a0875/KDNODE.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/4f3cda4bea9a0927/KDSPLIT.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/4e3be940b8e96341/GLOBALDATA.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/4d1884677dc1f3b8/POINTVALIDATION.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/37153a31d07c13ff/COMPUTE.ipch
KDTree/KDTree/Debug/KdTree.obj
KDTree/KDTree/Debug/KdSplit.obj
KDTree/KDTree/Debug/KdLeaf.obj
KDTree/KDTree/Debug/GlobalData.obj
KDTree/KDTree/Debug/Compute.obj
KDTree/.vs/KDTree/v15/ipch/AutoPCH/ffe06a129a32107a/KDSPLIT.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/d4062b8a52889483/PARSER.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/bfb3b86c089c4f5/KDTREE.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/b2adbdd9fa69763/POINT.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/5762383ed6e31c65/KDTREE.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/2c48324a68143178/POINT.ipch
KDTree/.vs/KDTree/v15/ipch/AutoPCH/2734f7a2d6108d96/KDTREE.ipch
KDTree/KDTree/Release/vc141.pdb
KDTree/KDTree/Release/main.obj
KDTree/KDTree/Release/PointValidation.obj
KDTree/KDTree/Release/Point.obj
KDTree/KDTree/Release/Parser.obj
KDTree/KDTree/Release/KdTree.obj
KDTree/KDTree/Release/KdSplit.obj
KDTree/KDTree/Release/KdLeaf.obj
KDTree/KDTree/Release/KDTree.tlog/CL.read.1.tlog
KDTree/KDTree/Release/KDTree.tlog/CL.command.1.tlog
KDTree/KDTree/Release/KDTree.log
KDTree/KDTree/Release/GlobalData.obj
KDTree/KDTree/Release/Compute.obj
KDTree/KDTree/x64/Debug/main.obj
KDTree/KDTree/x64/Debug/KdTree.obj
KDTree/KDTree/x64/Debug/KdSplit.obj
KDTree/KDTree/x64/Debug/KdLeaf.obj
KDTree/KDTree/x64/Debug/KDTree.log
KDTree/KDTree/x64/Debug/GlobalData.obj
KDTree/KDTree/x64/Debug/Compute.obj
KDTree/KDTree/Release/KDTree.tlog/link.write.1.tlog
KDTree/KDTree/Release/KDTree.tlog/link.read.1.tlog
KDTree/KDTree/Release/KDTree.tlog/link.command.1.tlog
KDTree/KDTree/Release/KDTree.tlog/KDTree.write.1u.tlog
KDTree/KDTree/Release/KDTree.tlog/KDTree.lastbuildstate
KDTree/KDTree/Release/KDTree.tlog/CL.write.1.tlog
KDTree/KDTree/x64/Release/Compute.obj
KDTree/KDTree/x64/Debug/vc141.pdb
KDTree/KDTree/x64/Debug/vc141.idb
KDTree/KDTree/x64/Debug/PointValidation.obj
KDTree/KDTree/x64/Debug/Point.obj
KDTree/KDTree/x64/Debug/Parser.obj
KDTree/KDTree/x64/Debug/KDTree.tlog/link.write.1.tlog
KDTree/KDTree/x64/Debug/KDTree.tlog/link.read.1.tlog
KDTree/KDTree/x64/Debug/KDTree.tlog/link.command.1.tlog
KDTree/KDTree/x64/Debug/KDTree.tlog/KDTree.lastbuildstate
KDTree/KDTree/x64/Debug/KDTree.tlog/CL.write.1.tlog
KDTree/KDTree/x64/Debug/KDTree.tlog/CL.read.1.tlog
KDTree/KDTree/x64/Debug/KDTree.tlog/CL.command.1.tlog
KDTree/KDTree/x64/Release/vc141.pdb
KDTree/KDTree/x64/Release/main.obj
KDTree/KDTree/x64/Release/PointValidation.obj
KDTree/KDTree/x64/Release/Point.obj
KDTree/KDTree/x64/Release/Parser.obj
KDTree/KDTree/x64/Release/KdTree.obj
KDTree/KDTree/x64/Release/KdSplit.obj
KDTree/KDTree/x64/Release/KdLeaf.obj
KDTree/KDTree/x64/Release/KDTree.tlog/CL.read.1.tlog
KDTree/KDTree/x64/Release/KDTree.tlog/CL.command.1.tlog
KDTree/KDTree/x64/Release/KDTree.log
KDTree/KDTree/x64/Release/KDTree.Build.CppClean.log
KDTree/KDTree/x64/Release/GlobalData.obj
KDTree/x64/Debug/KDTree.pdb
KDTree/x64/Debug/KDTree.ilk
KDTree/x64/Debug/KDTree.exe
KDTree/Release/KDTree.pdb
KDTree/Release/KDTree.ipdb
KDTree/Release/KDTree.iobj
KDTree/Release/KDTree.exe
KDTree/KDTree/x64/Release/KDTree.tlog/link.write.1.tlog
KDTree/KDTree/x64/Release/KDTree.tlog/link.read.1.tlog
KDTree/KDTree/x64/Release/KDTree.tlog/link.command.1.tlog
KDTree/KDTree/x64/Release/KDTree.tlog/KDTree.write.1u.tlog
KDTree/KDTree/x64/Release/KDTree.tlog/KDTree.lastbuildstate
KDTree/KDTree/x64/Release/KDTree.tlog/CL.write.1.tlog
KDTree/x64/Release/KDTree.pdb
KDTree/x64/Release/KDTree.ipdb
KDTree/x64/Release/KDTree.iobj
KDTree/x64/Release/KDTree.exe
